body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 400;
}
/*   в форме убирает контур  */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2em;    
    color: #000;
}
img{
    display: block;
    max-width: 100%; 
}
ul,li{
    display: block;
    padding: 0;
    margin: 0; 
}
.container{
    width: 1290px;
    margin: 0 auto;  
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}
.header{
    padding: 35px 0;
}
.header__menu{
    display: none;
}
.header__set{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    color: #000;
    font-size: 25px;
    font-weight: 700;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu__item {
    position: relative;
    list-style: none;
    
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    white-space: nowrap; /* чтобы текст не переносился на новую строку */
    overflow: hidden; /* чтобы фон не выходил за границы */
}

.menu__item_a {
    color: #0072DC;

    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-decoration: none;
}

.submenu a {
    color: #333;
    display: block;
    padding: 8px 3px;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #f0f0f0;
}


.social__set{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social__second{
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
.header__menu{
    display: none;
}


.offer__set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 80px 0;
}

.offer__box {
    width: 660px;
}
.offer__title{
    font-size: 45px;
    padding-bottom: 15px;
}
.offer__img {
    position: absolute;
    z-index: -1;
}
.offer__text{
    color: #0072DC;
    font-size: 18px;
    font-style: italic;
 
}
.form{
    width: 496px;
    height: 486px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.40);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 48px;
    justify-content: center;
}
.form__title{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-align: center;
}
.form__text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
}
.input{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 17px;
}
.input::placeholder{
    font-weight: 500;
    font-size: 17px;
    color: #868686;
    letter-spacing: 0.02em;
}
.btn__form{
    display: block;
    color: #fff; 
    padding: 10px 30px;
    border-radius: 10px;
    background: #E7473C;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 0.02em;
    border: none;
    margin-top: 15px;
}
.btn__form:hover{
    background: #fd3324;
    transition: 0.2s ease;
}
.title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.7px;
}
.come{
    padding: 50px 0;
}
.come__title{
    padding-bottom: 80px;
}
.come__set{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.come__wrapp {
    display: flex;
    gap: 35px;
    margin-right: 45px;
}

.come__circle {
    padding: 30px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    border: 1px solid #0072DC;
}
.come__circle_img{
    width: 40px;
    height: 40px;
}
.come__column{
    width: 415px;
}
.come__column_title{
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 17px;
   
}
.why{
    padding: 50px 0;
}
.why__title{
    padding-bottom: 80px;
}
.why__set{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.why__right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.why__wrapp{
    display: flex;
    align-items: start;
    gap: 30px;
    
}
.why__column{
    width: 600px;
}
.why__column_title{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0 20px;
}
.benefits{
    padding: 50px 0;
    background: rgba(238, 238, 238, 0.60);
}
.benefits__title{
    
    padding-bottom: 40px;
}
.benefits__text{
    text-align: center;
    font-size: 20px;
    padding-bottom: 0;
    letter-spacing: 0.4px;
}
.benefits__text:not(:last-child) {
    padding-bottom: 40px;
}

/* slider start*/
.slider{
    padding: 80px 0;
}
.slider__title{
    font-size: 35px;
    text-align: center;
}
.center{
    width: 100%;
    margin:  50px 0;
}
.center-img{
    margin: 0 auto;
}
.slick-prev::before {
    content: none;
}
.slick-next::before {
    content: none;
}
.slick-next{
    content: '';
    background: url(../img/arrow_right.png) no-repeat center !important;
    width: 40px;
    height: 40px;
    top: 300px;
    right: 45%;
}
.slick-prev{
    content: '';
    background: url(../img/arrow_left.png) no-repeat center !important;
    width: 40px;
    height: 40px;
    left: 45%;
    top: 300px;
}
/* slider end*/

.better{
    padding: 50px 0;
}
.better__title{
    padding-bottom: 80px;
}
.better__set{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 77px;
    border: 0.5px solid #000;
}
.better__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.better__left_img{
    width: 400px;
    height: 400px;
}
.better__num{
    display: flex;
    align-items: center;
}
.better__circle{
    border-radius: 50px;
    border: 1px solid #000;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.better__circle:hover{
    background: rgba(0, 114, 220, 0.10)
}
.better__circle_active{
    border-radius: 50px;
    border: 1px solid #0072DC;
    color: #0072DC;
    background: rgba(0, 114, 220, 0.10);
}
.better__line{
    width: 50px;
    background: #000;
    height: 1px;
}
.better__right{
    width: 600px;
    display: flex;
    flex-direction: column;
}
.better__name{
    font-size: 25px;
    letter-spacing: 0.5px;
}
.better__stars{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 17px 0;
}
.better__wrapp{
    display: flex;
    align-items: start;
    gap: 40px;
    padding-bottom: 30px;
}

.better__btn{
    width: 135px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 0.5px solid #E7473C;
    color: #E7473C;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: auto;
    text-align: center;
}
.better__btn:hover{
    width: 135px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 0.5px solid #E7473C;
    color: #fff;
    background: #fd3324;
    
    
}
.post{
    padding: 50px 0 ;
}
.post__set{
    display: flex;
    align-items: center;
    gap: 56px;
    padding-top: 70px;
}
.post__wrapp{
    width: 280px;
    height: 435px;
    border-radius: 5px;
    border: 0.5px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.post__wrapp:hover{
    border: 0.5px solid #0072DC;
}
.post__job{
    color: #FFF;
    font-size: 10px;
    padding: 3px 19px 3px 20px;
    margin: 20px 0;
    width: 80px;
    height: 20px;
    border-radius: 0px 10px 10px 0px;
    background: linear-gradient(180deg, #0072DC 0%, rgba(34, 114, 255, 0.70) 100%);
}
.post__img{
    margin: 0 auto;
}
.post__wrapp__title{
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    padding: 16px;
    font-size: 15px;
}
.post__wrapp__text{
    color: #000;
    font-family: "Open Sans";
    font-size: 12px;
    padding: 0 16px 20px 16px;
}
.faq{
    padding: 50px 0;
}
.faq__title{
    font-size: 35px;
    text-align: center;
}
/* Tab start  */
.faq__set{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}
.faq__wrapp {
    border-radius: 5px;
    border: 0.5px solid #000;
    background:  #FFF;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px ;
    position: relative; 
    cursor: pointer;
   
}
.faq__wrapp_title {
    font-size: 15px;
}
.faq__text {
    display: none;
    position: relative;
    width: 95%;
    padding-top: 20px;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.8s ease;
}
.faq__wrapp.active .faq__text {
    display: flex;
}

.faq__wrapp_img {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.8s ease; /* добавленное правило */
}
/* Tab end */

.consultancy{
    padding: 50px 0 ;
}
.consultancy__set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
.consultancy__wrapp{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 665px;
}
.consultancy__text{
    font-size: 20px;
}
.footer{
    padding: 50px 0;
    background: rgba(0, 114, 220, 0.20);
}
.footer__set{
    display: flex;
    
}
.footer__first{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-right: 200px;
}
.footer__logo{
    padding-bottom: 15px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
}
.footer__politica{
    color: #505050;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.24px;
}
.footer__agreement{
    color: #505050;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.24px;
}
.footer__second{
    display: flex;
    flex-direction: column;
    
}
.footer__title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
    padding-bottom: 30px;
}
.footer__wrapp{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer__text{
    color: #505050;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.24px;
}
.footer__third{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: end;
    
}
.footer__social_set{
    display: flex;
    align-items: center;
}
.footer__social_first{
    margin-right: 15px;
}
.footer__social_second{
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0.3px;
}
.footer__btn{
    border-radius: 5px;
    border: 1px solid #E7473C;
    background: #E7473C;
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.36px;
    text-align: center;
    padding: 12px 27px;
    margin-top: 40px;
}
.footer__btn:hover{
    background: #fd3324;
}
.servizi{
    padding: 50px 0;
}
.servizi__title{
    font-size: 45px;
    text-align: center;
}
.servizi__set{
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    padding-top: 50px;
}
.servizi__wrapp{
    width: 400px;
    text-align: center;
}
.servizi__wrapp_title{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.servizi__img{
    padding: 12px 0 28px;
}
.servizi__wrapp_text{
    color: #000;
}
.found{
    padding: 80px 0;
}
.found__set{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.found__text{
    font-size: 35px;
}
.found__btn{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 10px 150px;
    border-radius: 5px;
    background: #E7473C;
}
.found__btn:hover{
    background: #fd3324;
}
.info{
    padding: 50px 0;
}
.info__set{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
}
.info__wrapp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info__wrapp__title{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.6px;
    padding-bottom: 10px;
}
.info__wrapp_text{
    letter-spacing: 0.3px;
}
.info__span{
    font-weight: 700;
}
.what{
    padding: 50px 0;
}
.what__title{
    width: 970px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.what__set{
    display: flex;
    justify-content: space-between;
}
.what__wrapp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 630px;
    align-items: center;
}
.what__wrapp_text{
    font-size: 20px;
    letter-spacing: 0.4px;
}
.what__wrapp_img{
    width: 50px;
    height: 50px;
}
.editors{
    padding: 50px 0;
}
.editors__title{
    padding-bottom: 80px;
}
.editors__set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0 77px 50px;
    
    
}
.editors__left_img{
    width: 400px;
    height: 400px;
}
.editors__num{
    display: flex;
    align-items: center;
    justify-content: center;
}
.editors__circle{
    border-radius: 50px;
    border: 1px solid #000;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.editors__circle:hover{
    background: rgba(0, 114, 220, 0.10)
}
.editors__circle_active{
    border-radius: 50px;
    border: 1px solid #0072DC;
    color: #0072DC;
    background: rgba(0, 114, 220, 0.10);
}
.editors__line{
    width: 50px;
    background: #000;
    height: 1px;
}
.editors__right{
    width: 600px;
    display: flex;
    flex-direction: column;
    
}
.editors__name{
    font-size: 25px;
    letter-spacing: 0.5px;
}
.editors__stars{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 17px 0;
}
.editors__column_text{
    font-size: 18px; 
    letter-spacing: 0.4px;
}
.editors__btn{
    width: 135px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 0.5px solid #E7473C;
    color: #E7473C;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: 25px;
    text-align: center;
}
.editors__btn:hover{
    width: 135px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 0.5px solid #E7473C;
    color: #fff;
    background: #fd3324;
}
.esempi{
    padding: 50px 0;
}
.esempi__set{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
}
.esempi__wrapp_title{
    font-size: 30px;
}
.esempi__mix{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
}
.esempi__right{
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.esempi__text{
    font-size: 18px;
    letter-spacing: 0.36px;
}
.quale{
    padding: 50px 0;
}
.quale__set{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
}
.quale__wrapp_title{
    font-size: 30px;
}
.quale__mix{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
}
.quale__right{
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.quale__text{
    font-size: 18px;
    letter-spacing: 0.36px;
}
.quale__btn{
    width: 135px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 0.5px solid #E7473C;
    color: #E7473C;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: auto;
    text-align: center;
}
.quale__btn:hover{
    width: 135px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 0.5px solid #E7473C;
    color: #fff;
    background: #fd3324;
}
.blog{
    padding: 50px 0;
}
.blog__title{
    font-size: 45px;
    text-align: center;
}
.blog__kit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.path{
    color: #000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
   
}
.path__active{
    color: #0072DC;
    font-weight: 700;
}
.blind{
    font-size: 18px;
    font-weight: 700;
    margin: 0 20px;
}
.progetti{
    padding: 50px 0;
}
.progetti__title{
    color: #000;
    width: 800px;
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
}
.profile__set{
    padding-top: 60px;
}
.profile__mix{
    display: flex;
    align-items: center;
    gap: 25px;
}
.profile__img{
    border-radius: 100px;
}
.profile__title{
    font-family: "Open Sans";
    font-size: 20px;
}
.profile__wrapp{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.project{
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 70px;
}
.project__colors{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 15px;
    gap: 10px;
}
.project__first{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #F24033;
}
.project__second{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #0FA958;
}
.project__third{
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #2272FF;
}
.project__info_first{
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 120%; 
    padding-bottom: 30px;
}
.project__info_second{
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 120%; 
   
    padding-bottom: 15px;
}
.project__info_span{
    font-weight: 700;
}
.profile__stars{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.alticori{
    padding: 50px 0;
}
.alticori__title{
    font-size: 25px;
    letter-spacing: 0.5px;
}
.contatti{
    padding: 50px 0;
}
.contatti__title{
    font-size: 45px;  
    text-align: center;
}
.contatti_set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
.contatti__column{
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contatti__column_title{
    font-family: "Open Sans";
    font-size: 22px;
}
.contatti__social{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contatti__wrapp{
    display: flex;
    align-items: center;
    gap: 15px;
}
.contatti__wrapp_text{
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}
.error__set{
   padding: 50px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}
.error__title{
    color: #DEA378;
    text-align: center;
    font-size: 300px;
    font-weight: 400;
   
}
.error__text{   
    color: #000;
    text-align: center;
    width: 787px;
    font-size: 45px;
    font-weight: 400;
}
.social__first{
    width: 30px;
    height: 30px;
}
.submenu-trigger{
    display: none;
}

/*1200-1440*/
@media screen and (max-width:1440px) {
	.container{
		max-width: 1140px;
	}
    .offer__title{
        width: 550px;
    }
    .come__set{
        gap: 40px;
    }
    .come__wrapp{
        margin-right: 0;
    }
    .why__column {
        width: 500px;
    }
    .better__set{
        padding: 50px;
    }
    .post__set{
        gap: 20px;
    }
    .consultancy__wrapp{
        width: 550px;
    }
    .servizi__set{
        justify-content: center;
        gap: 50px;
    }
    .what__wrapp_text{
        font-size: 18px;
    }
    .what__wrapp{
        width: 550px;
    }
    .editors__set{
        padding: 0 0 50px 0;
    }
    .esempi__right{
        width: 550px;
    }
    .quale__right{
        width: 550px;
    }
    .contatti__column{
        width: 550px;
    }

}
/*992-1199*/
@media screen and (max-width:1199px) {
	.container{
		max-width: 960px;
	}
    .social__second{
        display: none;
    }
    .offer__title{
        font-size: 40px;
    }
    .offer__text{
        font-size: 15px;
    }
    .offer__img:nth-child(4){
        display: none;
    }
    .come__set{
        gap: 70px;
    }
    .why__set{
        gap: 20px;
    }
    .why__wrapp{
        gap: 15px;
    }
    .why__left{
        width: 400px;
        height: 400px;
    }
    .come__column{
        width: auto;
    }
    .benefits__text{
        font-size: 15px;
    }
    .better__wrapp{
        gap: 20px;
    }
    .better__right{
        width: 500px;
    }
    .post__set{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
    }
    .better__left_img{
        width: 300px;
        height: 300px;
    }
    .consultancy__wrapp{
        width: 400px;
    }
    .consultancy__text{
        font-size: 15px;
    }
    .found__text{
        width: 500px;
        font-size: 25px;
    }
    .what__wrapp_text{
        font-size: 15px;
    }
    .what__img{
        width: 400px;
        height: 400px;
    }
    .what__set{
        align-items: center;
    }
    .what__wrapp{
        width: 450px;
    }
    .editors__right{
        width: 450px;
    }
    .editors__column_text{
        font-size: 15px;
    }
    .esempi__mix{
        flex-direction: column;
        gap: 50px;
    }
    .esempi__right{
        width: auto;
    }
    .path{
        font-size: 15px;
    }
    .project{
        width: 100%;
    }
    .contatti__column_title{
        font-size: 18px;
    }
    .slick-next{
        right: 40%;
    }
    .slick-prev{
        left: 40%;
    }
}

/*768-991*/
@media screen and (max-width:991px){
	.container{
		max-width: 720px;
        
	}
    .social__set{
        display: none;
    }
    /*  Burger start */
    .header__menu {
        display: flex;
    }

    .burger__img {
        width: 30px;
        height: 30px;
    }

    .menu {
        position: absolute;
        z-index: 999;
        top: 100px;
        right: 20px;
        width: 200px;
        height: auto;
        background: #0072DC;
        border-radius: 20px;
        display: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* добавлен тень */
    }

    .menu:hover {
        background: #0072DC;
    }

    .active__menu {
        display: block;
        justify-content: center;
    }

    .menu__item {
        width: 100% !important;
        margin: 15px 0;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .submenu{
        width: 100%;
        white-space: normal; /* чтобы текст не переносился на новую строку */
        overflow:  visible; /* чтобы фон не выходил за границы */
    }
    .menu__item_a {
        text-align: start;
        color: #fff;
        font-size: 15px;
        padding: 15px 20px;
        width: 100%;
    }
    .submenu-trigger{
        display: flex;
    }
    .submenu-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    /*  Burger end */
    .offer__box{
        width: auto;
    }
    .offer__set{
        padding-top: 30px;
        flex-direction: column;
        gap: 50px;
    }
    .offer__img{
        display: none;
    }
    .offer__title{
        font-size: 45px;
    }
    .why__set{
        flex-direction: column;
        gap: 50px;
    }
    .why__column{
        width: auto;
    }
    .better__set{
        flex-direction: column;
        gap: 40px;
    }
    .better__right{
        width: auto;
    }
    .consultancy__set{
        flex-direction: column;
        gap: 60px;
    }
    .consultancy__wrapp{
        width: auto;
    }
    .footer__first{
        margin-right: 50px;
    }
    .found__set{
        flex-direction: column;
        gap: 40px;
    }
    .found__text{
        width: 100%;
        text-align: center;
    }
    .what__title{
        width: auto;
    }
    .what__set{
        flex-direction: column;
        gap: 50px;
    }
    .what__wrapp{
        width: auto;
       
    }
    .editors__left_img{
        width: 300px;
        height: 300px;
    }
    .editors__set{
        flex-direction: column;
        gap: 50px;
    }
    .editors__right{
        width: auto;
    }
    .path{
        text-align: center;
    }
    .contatti_set{
        flex-direction: column;
        gap: 50px;
    }
    .contatti__column{
        width: auto;
    }
    .what__wrapp{
        align-items: start;
    }
    .what__wrapp_img{
        margin: 0 auto;
    }
    .quale__mix{
        flex-direction: column;
        gap: 40px;
    }
    .quale__right{
        width: auto;
    }
    .progetti__title{
        width: auto;
    }
    .error__text{
        width: 90%;
        font-size: 30px;
    }
    
}	

/*576-767*/
@media screen and (max-width:767px){
	.container{
		width: 540px;
		
	}
    .slick-next{
        right: 35%;
    }
    .slick-prev{
        left: 35%;
    }
    .post__set {
        gap: 40px;
    }
    .footer__first{
        margin-right: 0;
        width: 250px;
        text-align: center;
        gap: 20px;
    }
    .footer__second{
        text-align: center;
    }
    .footer__third{
        margin-left: 0;
        text-align: center;
    }
    .footer__set{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .footer__logo{
        padding-bottom: 0;
    }
    .blog__kit{
        flex-wrap: wrap;
        
    }
    .path {
        padding: 15px 0;
    }
    .progetti__title{
        font-size: 30px;
    }
    .profile__img{
        width: 80px;
        height: 80px;
    }
    .project{
        padding-top: 40px;
    }
    .project__info_first{
        font-size: 15px;
    }
    .project__info_second{
        font-size: 15px;
    }
    .esempi__text{
        font-size: 15px;
    }
    .title{
        font-size: 30px;
    }
    .quale__wrapp_title{
        font-size: 25px;
    }
    .esempi__wrapp_title{
        font-size: 25px;
    }
    .info__wrapp__title{
        font-size: 25px;
    }
    .post__wrapp{
        height: auto;
    }
    .footer__politica{
        font-size: 15px;
    }
    .footer__agreement{
        font-size: 15px;
    }
    .footer__text{
        font-size: 15px;
    }
    .quale__text{
        font-size: 15px;
    }
	.blog__kit{
        flex-direction: column;
    }
    .error__title{
        font-size: 200px;
    }
}
/*458-575*/
@media screen and (max-width:575px){
	.container{
		width: 100%;
		padding: 0 15px;
        	max-width: 100%;
	}
    
    .offer__title{
        width: auto;
    }
    .come__wrapp{
        gap: 15px;
    }
    .come__column_title{
        font-size: 20px;
    }
    .come__column_text{
        font-size: 12px;
    }
    .come__circle {
        padding: 15px;
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
        border-radius: 50%;
        border: 1px solid #0072DC;
        
    }
    .come__circle_img{
        width: 30px;
        height: 30px;
    }
    .offer__title{
        font-size: 40px;
    }
    .form{
        padding: 20px 28px;
        width: 100%;
    }
    .why__img{
        width: 40px;
        height: 40px;
    }
    .editors__line{
        width: 15px;
    }
    .what__img{
        width: 300px;
        height: 300px;
    }
    
}
/*375-457*/
@media screen and (max-width:457px){
	.container{
		width: 100%;
		padding: 0 15px;
        	max-width: 100%;
	}
    .why__left{
        width: 300px;
        height: 300px;
    }
    .better__set{
        padding: 20px;
    }
    .faq__wrapp_title{
        width: 90%;
    }
    .faq__text{
        width: 90%;
    }
    .found__btn{
        padding: 10px 30px;
    }
    .what__img{
        width: auto;
        height: 300px;
    }
    .slick-next{
        right: 30%;
    }
    .slick-prev{
        left: 30%;
    }
    .error__title{
        font-size: 150px;
    }
    .error__text{
        font-size: 25px;
    }
}
/*320-374*/
@media screen and (max-width:374px){
	.container{
		width: 100%;
		padding: 0 15px;
        	max-width: 100%;
	}
    .offer__title{
        font-size: 30px;
    } 
    .form__title{
        font-size: 25px;
    }
    .better__left_img{
        width: 250px;
        height: 250px;
    }
    .title{
        font-size: 25px;
    }
    .esempi__wrapp_title{
        font-size: 20px;
    }
    .better__line{
        width: 30px;
    }
    .what__img{
        width: 250px;
        height: 250px;
    }
    .progetti__title{
        font-size: 25px;
    }
    .contatti__title{
        font-size: 35px;
    }
    .blog__title{
        font-size: 35px;
    }
    .faq__wrapp_title{
        width: 85%;
    }
    .faq__text{
        width: 85%;
    }
}
